<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.device.mapper.DeviceMapper">

    <resultMap type="Device" id="DeviceResult">
        <result property="id" column="id" />
        <result property="devModel" column="dev_model" />
        <result property="devType" column="dev_type" />
        <result property="prefix" column="prefix" />
        <result property="dtCreate" column="dt_create" />
        <result property="dtUpdate" column="dt_update" />
        <result property="aggregateValue" column="aggregate_value" />
    </resultMap>

    <sql id="selectDeviceVo">
        select id, dev_model, dev_type, prefix, dt_create, dt_update, aggregate_value from hcms_device
    </sql>

    <select id="selectDeviceList" parameterType="Device" resultMap="DeviceResult">
        <include refid="selectDeviceVo"/>
        <where>
            <if test="devModel != null  and devModel != ''"> and dev_model = #{devModel}</if>
            <if test="devType != null  and devType != ''"> and dev_type = #{devType}</if>
            <if test="dtCreate != null "> and dt_create = #{dtCreate}</if>
            <if test="dtUpdate != null "> and dt_update = #{dtUpdate}</if>
        </where>
    </select>

    <select id="selectDeviceById" parameterType="Long" resultMap="DeviceResult">
        <include refid="selectDeviceVo"/>
        where id = #{id}
    </select>

    <insert id="insertDevice" parameterType="Device">
        insert into hcms_device
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="devModel != null">dev_model,</if>
            <if test="devType != null">dev_type,</if>
            <if test="prefix != null">prefix,</if>
            <if test="dtCreate != null">dt_create,</if>
            <if test="dtUpdate != null">dt_update,</if>
            <if test="aggregateValue != null">aggregate_value,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="devModel != null">#{devModel},</if>
            <if test="devType != null">#{devType},</if>
            <if test="prefix != null">#{prefix},</if>
            <if test="dtCreate != null">#{dtCreate},</if>
            <if test="dtUpdate != null">#{dtUpdate},</if>
            <if test="aggregateValue != null">#{aggregateValue},</if>
        </trim>
    </insert>

    <update id="updateDevice" parameterType="Device">
        update hcms_device
        <trim prefix="SET" suffixOverrides=",">
            <if test="devModel != null">dev_model = #{devModel},</if>
            <if test="devType != null">dev_type = #{devType},</if>
            <if test="prefix != null">prefix = #{prefix},</if>
            <if test="dtCreate != null">dt_create = #{dtCreate},</if>
            <if test="dtUpdate != null">dt_update = #{dtUpdate},</if>
            <if test="aggregateValue != null">aggregate_value = #{aggregateValue},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteDeviceById" parameterType="Long">
        delete from hcms_device where id = #{id}
    </delete>

    <delete id="deleteDeviceByIds" parameterType="String">
        delete from hcms_device where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>