<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.device.mapper.LanguageMapper">
    
    <resultMap type="Language" id="LanguageResult">
        <result property="id"    column="id"    />
        <result property="devName"    column="dev_name"    />
        <result property="ip"    column="ip"    />
        <result property="name"    column="name"    />
        <result property="version"    column="version"    />
        <result property="newVersion"    column="new_version"    />
        <result property="url"    column="url"    />
        <result property="dtUpdate"    column="dt_update"    />
    </resultMap>

    <sql id="selectLanguageVo">
        select id, dev_name, ip, name, version, new_version, url, dt_update from hcms_language
    </sql>

    <select id="selectLanguageList" parameterType="Language" resultMap="LanguageResult">
        <include refid="selectLanguageVo"/>
        <where>  
            <if test="devName != null  and devName != ''"> and dev_name like concat('%', #{devName}, '%')</if>
            <if test="ip != null  and ip != ''"> and ip like concat('%', #{ip}, '%')</if>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="dtUpdate != null "> and dt_update = #{dtUpdate}</if>
        </where>
    </select>
    
    <select id="selectLanguageById" parameterType="Long" resultMap="LanguageResult">
        <include refid="selectLanguageVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertLanguage" parameterType="Language" useGeneratedKeys="true" keyProperty="id">
        insert into hcms_language
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="devName != null">dev_name,</if>
            <if test="ip != null">ip,</if>
            <if test="name != null">name,</if>
            <if test="version != null">version,</if>
            <if test="newVersion != null">new_version,</if>
            <if test="url != null">url,</if>
            <if test="dtUpdate != null">dt_update,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="devName != null">#{devName},</if>
            <if test="ip != null">#{ip},</if>
            <if test="name != null">#{name},</if>
            <if test="version != null">#{version},</if>
            <if test="newVersion != null">#{newVersion},</if>
            <if test="url != null">#{url},</if>
            <if test="dtUpdate != null">#{dtUpdate},</if>
         </trim>
    </insert>

    <update id="updateLanguage" parameterType="Language">
        update hcms_language
        <trim prefix="SET" suffixOverrides=",">
            <if test="devName != null">dev_name = #{devName},</if>
            <if test="ip != null">ip = #{ip},</if>
            <if test="name != null">name = #{name},</if>
            <if test="version != null">version = #{version},</if>
            <if test="newVersion != null">new_version = #{newVersion},</if>
            <if test="url != null">url = #{url},</if>
            <if test="dtUpdate != null">dt_update = #{dtUpdate},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteLanguageById" parameterType="Long">
        delete from hcms_language where id = #{id}
    </delete>

    <delete id="deleteLanguageByIds" parameterType="String">
        delete from hcms_language where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>